#csharp {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#design {
  display: none;
}

#css {
  display: none;
}

#javascript {
  display: none;
}

.learnmore {
  font-size: 25px;
  text-align: center;
}

h2 {
  text-align: center;
}

#header {
  text-align: center;
}

.questions {
  text-align: left;
}

.btn {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 20px; 
}
.answer {
  padding: 5px;
  margin: 5px;
}

.personality {
  background-color: black;
  color: white;
}

.picked {
  background-color: salmon;
}

.response {
  background-color: lightblue;
  border-radius: 9px;
  border: 1px black solid;
  margin-top: 50px;
}

.btn {
  background-color: lightgreen;
  border: 1px black solid;
}

.company {
  text-align: center;
  text-decoration: bold;
  font-size: 20px;
}
