#csharp {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby{
  display: none;
}

.learnmore {
  font-size: 25px;
  text-align: center;
}

h2 {
  text-align: center;
}

#header {
  text-align: center;
}

.questions {
  text-align: left;
}

.btn {
  margin: auto;
  display: block;
  text-align: center;
}
.answer {
  padding: 5px;
  margin: 5px;
}

.personality {
  background-color: black;
  color: white;
}
